<template>
    <div class="card">

        <div class="card-body">
            <h5 style="margin-top:0;padding-top:0;margin-bottom:0;padding-bottom:0">{{Title}}</h5>
            <GMap :center="Center"
                  ref="mapRef"
                  :zoom="18"
                  @click="MapClick($event)"
                  @init="MapInit($event)">
                <GMapMarker ref="MarkerMap"
                            :position="position"
                            :clickable="true"
                            :draggable="true"
                            @click="MarkerClick()">
                </GMapMarker>
            </GMap>
        
        </div>
    </div>
</template>
<script>



    export default {
        name: 'mapAppointment',
        props: ["position", "appointment"],
        data() {
            return {
                Marker: null,
                Center: this.position,
                Title: "Start Location",
                Selected: null,
                DirectionsService: null,
                DirectionsDisplay: null,
                Markers:[],
            }
        },
        mounted() {


        },
        computed: {

        },
        methods: {
            MapClick(e) {
      
                
                if (this.Markers.length === 1) {
                    return;
                }
                let l = { lat: e.event.latLng.lat(), lng: e.event.latLng.lng() };
                this.CreateMarker(l);

            },
            CreateMarker(l) {
                var directionsService = new google.maps.DirectionsService();
                var directionsDisplay = new google.maps.DirectionsRenderer();
                this.DirectionsDisplay = directionsDisplay;
                this.DirectionsService = directionsService;

                var ths = this;
                var Map = this.$refs.mapRef.map;

                let marker = new google.maps.Marker({
                    position: l,
                    title: 'Selected',
                    map:Map,
                    animation: google.maps.Animation.DROP,
                    draggable: true,
                    zIndex: 9999
                });
                this.DirectionsDisplay.setMap(this.$refs.mapRef.map);

                this.Title = "Destination Location";
                google.maps.event.addListener(marker, 'dragstart', function () {

                });

                google.maps.event.addListener(marker, 'drag', function () {

                });

                google.maps.event.addListener(marker, 'dragend', function () {
                    ths.DragEnd(marker);
                });
                this.Markers.push(marker);
                this.PathDriwe(l);
            },
            PathDriwe(l) {
                var ths = this;

                var request = {
                    origin: ths.position,
                    destination: l,
                    travelMode: google.maps.DirectionsTravelMode.DRIVING
                };


                this.DirectionsService.route(request, function (response, status) {
                    if (status == google.maps.DirectionsStatus.OK) {
                        ths.DirectionsDisplay.setDirections(response);
                        ths.DistanceMatrixCalculator();
                    }
                });
                this.Selected = l;
            },

            MapInit(h) {
                var ths = this;
                try {
                    let marker = this.$refs.MarkerMap.marker;
                    this.Marker = marker;
                    if (this.appointment) {
                        this.CreateMarker(this.appointment.Destination);
                    }

                } catch (e) { console.log("Hata : " + e); }

            },
            MarkerClick() {

                let mark = this.$refs.MarkerMap.marker;

            },
            DragStart() {

            },
            DragEnd(marker) {
                this.Title = "Destination";
                let f = { lat: marker.position.lat(), lng: marker.position.lng() };
                this.Selected = f;
                this.PathDriwe(f);
            },

            Drag(m) {

            },
            AlertSave() {
                if (this.Selected) {
                    if (confirm("Save ? ")) {
                        this.Save();
                    }
                }
            },
            DistanceMatrixCalculator() {

                var origin = this.position;
                var destination = this.Selected;
                var ths = this;

                var service = new google.maps.DistanceMatrixService();
                service.getDistanceMatrix({
                    origins: [origin],
                    destinations: [destination],
                    travelMode: google.maps.TravelMode.DRIVING,
                    unitSystem: google.maps.UnitSystem.metric,
                    avoidHighways: false,
                    avoidTolls: false
                }, (response, status) => {
                    if (status != google.maps.DistanceMatrixStatus.OK) {
                        console.log("Matrix Calculate Error", status);
                    } else {
                        let d = { Selected: ths.Selected, Distance: response };
                        this.$emit("distancefinish", d);
                    }
                });
            }
        },
        created() {
            
           
        }
    }
</script>
<style>
    .GMap__Wrapper {
        height: 470px !important;
    }
</style>