<template>
    <div class="row">
        <div class="col-md-4 col">
            <div class="card" style="max-width:600px;">
                <div class="card-body register-card-body">
                    <ValidationObserver ref="form">
                        <form @submit.prevent="Save" :class="{'FormDisabled':true}" v-show="Show">
                            <ValidationProvider name="Address" rules="required" v-slot="{ errors }">
                                <div style="position:relative" class="mb-4">
                                    <b-form-textarea id="textarea"
                                                     :disabled="Disabled"
                                                     v-model="Appointment.Address"
                                                     placeholder="Addresss"
                                                     rows="2"
                                                     max-rows="2"></b-form-textarea>

                                    <div class="error">{{errors[0]}}</div>
                                </div>
                            </ValidationProvider>
                            <div class="row">
                                <div class="col-md-6">
                                    <ValidationProvider name="Date" rules="required" v-slot="{ errors }">
                                        <div style="position:relative">
                                            <div :class="{'mb-4':true,'has-error':errors[0]}">
                                                <b-form-datepicker :disabled="Disabled" id="AppDate" ref="AppDate" :date-format-options="{ year: 'numeric', month: 'numeric', day: 'numeric' }" v-model="Appointment.Date" size="sm" reset-button placeholder="Choose a date" locale="en"></b-form-datepicker>
                                            </div>
                                            <div class="error">{{errors[0]}}</div>
                                        </div>
                                    </ValidationProvider>
                                </div>
                                <div class="col-md-6">
                                    <ValidationProvider name="Date" rules="required" v-slot="{ errors }">
                                        <div style="position:relative">
                                            <div :class="{'mb-4':true,'has-error':errors[0]}">
                                                <b-form-timepicker :disabled="Disabled" id="AppHours" ref="AppHours" size="sm" placeholder="Choose hours" v-model="Appointment.Hours" locale="en"></b-form-timepicker>
                                            </div>
                                            <div class="error">{{errors[0]}}</div>
                                        </div>
                                    </ValidationProvider>
                                </div>
                            </div>

                            <ValidationProvider name="Name" rules="required" v-slot="{ errors }">
                                <div style="position:relative">
                                    <div :class="{'input-group mb-4':true,'has-error':errors[0]}">
                                        <input type="text" :disabled="Disabled" class="form-control" placeholder="Customer Name" v-model="Appointment.Name">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-user"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="error">{{errors[0]}}</div>
                                </div>
                            </ValidationProvider>
                            <ValidationProvider name="LastName" rules="required" v-slot="{ errors }">
                                <div style="position:relative">
                                    <div :class="{'input-group mb-4':true,'has-error':errors[0]}">
                                        <input type="text" :disabled="Disabled" class="form-control" placeholder="Customer Last Name" v-model="Appointment.LastName">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-user"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="error">{{errors[0]}}</div>
                                </div>
                            </ValidationProvider>
                            <ValidationProvider name="E-mail" rules="required|email" v-slot="{ errors }">
                                <div style="position:relative">
                                    <div :class="{'input-group mb-4':true,'has-error':errors[0]}">
                                        <input type="email" :disabled="Disabled" class="form-control" placeholder="Email" v-model="Appointment.Email">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-envelope"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="error">{{errors[0]}}</div>
                                </div>
                            </ValidationProvider>
                            <ValidationProvider name="Telephone" rules="required" v-slot="{ errors }">
                                <div style="position:relative">
                                    <div :class="{'input-group mb-4':true,'has-error':errors[0]}">
                                        <input type="text" :disabled="Disabled" class="form-control" placeholder="Telephone" v-mask="'0(###) ### ## ##'" v-model="Appointment.Telephone">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-phone"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="error">{{errors[0]}}</div>
                                </div>
                            </ValidationProvider>                       

                            <div class="row" v-if="Appointment.Distance">
                                <div class="col-12">
                                    <table class="table" id="DistanceTable">
                                        <tr><th>Origin Address</th><th>Destination Address</th></tr>
                                        <tr><td>{{Appointment.OriginAddress}}</td><td>{{Appointment.DestinationAddsress}}</td></tr>
                                        <tr><th>Distance</th><th>Duration</th></tr>
                                        <tr><td>{{Appointment.Distance.text}}</td><td>{{Appointment.Duration.text}}</td></tr>
                                        <tr><th>Out Date</th><th>Return Date</th></tr>
                                        <tr><td>{{Appointment.OutDate}}</td><td>{{Appointment.ReturnDate}}</td></tr>


                                    </table>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-4">
                                    <button v-if="Appointment.Id>0" type="button" @click="$router.push('/')" class="btn btn-secondary btn-block">Cancel</button>
                                </div>
                                <div class="col-4">
                                    <button v-if="Appointment.Id>0" type="button" @click="Disabled=false" class="btn btn-info btn-block">Edit</button>
                                </div>
                                <div class="col-4">
                                    <button type="button" :disabled="Disabled" @click="Save" class="btn btn-primary btn-block">Save</button>
                                </div>
                            </div>
                        </form>


                        <b-modal id="modal-loading" centered title="BootstrapVue" no-close-on-backdrop hide-header hide-footer class="modal-loading">
                            <b-spinner type="grow" variant="primary" label="Loading"></b-spinner>
                        </b-modal>
                    </ValidationObserver>
                </div>
            </div>

        </div>
        <div class="col-md-8 col">
            <appointment-map :appointment="Appointment" :key="Appointment.Id" :position="$store.state.OfficePosition" @distancefinish="DistanceCalculate($event)" />
        </div>
    </div>


</template>

<script>
    import AppointmentMap from "~/components/Appointment/Map";

    export default {
        name: 'appointmentRegisterForm',
        props: ["appointment"],
        components: { AppointmentMap },
        data() {
            return {
                DestinationAddsress: "",
                OriginAddress: "",
                Distance: null,
                Show: true,
                Appointment: {
                    Address: "",
                    Date: "",
                    OutDate: "",
                    ReturnDate: "",
                    Name: "",
                    LastName: "",
                    Hours: "",
                    Email: "",
                    Telephone: "",
                    Start: this.$store.state.OfficePosition,
                    Destination: this.$store.state.OfficePosition,
                    UserId: 0,
                    User: "",
                    Distance: null,
                    Duration: null,
                    DestinationAddsress: "",
                    OriginAddress: "",
                    Id: 0,
                    NameLastName: "",

                },
                Disabled:false,
            }
        },
        methods: {
            DistanceCalculate(d) {
              
                this.Appointment.DestinationAddsress = d.Distance.destinationAddresses[0];
                this.Appointment.OriginAddress = d.Distance.originAddresses[0];
                let Elm = d.Distance.rows[0].elements[0];
                this.Appointment.Distance = Elm.distance;
                this.Appointment.Duration = Elm.duration;

                let Hours = this.Appointment.Hours;
                let Date = this.Appointment.Date;
                let AppDate = Date + " " + Hours;
                let AppointmentDate = this.$moment(AppDate).format("X");
                let OutDate = AppointmentDate - this.Appointment.Duration.value;
                let OtDt = this.$moment.unix(OutDate);
                let ReDate = this.$moment(AppDate).add(1, "hour").add(+this.Appointment.Duration.value, "seconds").format('DD-MM-YYYY HH:mm')
                this.Appointment.OutDate = OtDt.format('DD-MM-YYYY HH:mm');
                this.Appointment.ReturnDate = ReDate;
                this.Appointment.Destination = d.Selected;

            },
            Save() {

               

                try {
                    if (this.Appointment.Distance === null) {
                        alert("Please select your destination");
                        return;
                    }
                    this.$bvModal.show('modal-loading');
                    this.$refs.form.validate().then(success => {
                        if (!success) { this.$bvModal.hide('modal-loading'); return; }
                        let Dt = JSON.parse(JSON.stringify(this.Appointment));
                        let List = this.$store.getters.getAppointmentList;
                        let Id = 1;

                        if (Dt.Id === 0) {
                            if (List.length > 0) {
                                let LastItem = List[List.length - 1];
                                Id = LastItem.Id + 1;
                                Dt.Id = Id;
                            }
                        }


                        Dt.User = this.Kb.Ad + " " + this.Kb.Soyad;
                        Dt.UserId = this.Kb.Id;

                        Dt.NameLastName = Dt.Name + " " + Dt.LastName;

                        this.$store.commit("setAppointment", Dt);
                        this.Appointment =
                        {
                            Address: "",
                            Date: "",
                            OutDate: "",
                            ReturnDate: "",
                            Name: "",
                            LastName: "",
                            Hours: "",
                            Email: "",
                            Telephone: "",
                            Start: this.$store.state.OfficePosition,
                            Destination: this.$store.state.OfficePosition,
                            UserId: 0,
                            User: "",
                            Distance: null,
                            Duration: null,
                            DestinationAddsress: "",
                            OriginAddress: "",
                            Id: 0,
                            NameLastName: "",
                        };

                        this.Show = false;                       
                        setTimeout(() => {

                            this.$refs.form.reset();
                            this.$bvModal.hide('modal-loading');
                            this.$router.push("/");
                        }, 1200);
                    });
                } catch (e) {
                    this.$bvModal.hide('modal-loading');
                }
                
            },
        },
        computed: {
            StartLocation() {
                return this.Appointment.Start.lat + "," + this.Appointment.Start.lng;
            },
            FinishLocation() {
                return this.Appointment.Destination.lat + "," + this.Appointment.Destination.lng;
            },
            Kb() { return this.$store.getters.getKb; },

        },
        created() {
            if (this.appointment) {
                this.Appointment = this.appointment;
                this.Disabled = true;
            }
        },
        mounted() { }
    }
</script>
<style>


    #AppDate, #AppHours {
        position: absolute;
        right: 0
    }



    #DistanceTable th, #DistanceTable td {
        padding: 0.3rem !important;
    }
    
</style>