<template>
  <div :class="{'m-form__group-sub codenetGrup': true, 'has-danger': errors.has(ad) }">
    <label v-if="labelgoster" class="form-control-label" :for="ad">{{label}}</label>
    <div class="input-group">
      <div class="input-group-prepend" v-if="icongoster">
        <button tabindex="-1"  :disabled="pasif" class="btn btn-default" type="button"><i :class="icon"></i></button>
      </div>
      <input v-validate="validRules"
             v-mask="vmask"
             :type="tip"
             class="form-control m-input"
             :placeholder="place"
             v-bind:value="value"
             v-on:input="$emit('input', $event.target.value)"
             :id="ad"
             :disabled="pasif"
             :name="ad" :aria-describedby="'Err'+ad" autocomplete="off">
      <div class="input-group-append" v-if="!zorunlu">
        <button v-on:click="IltSil" style="border-color: #bfbfbf !important;" class="btn btn-default IltSil" type="button"><i class="fa fa-trash"></i></button>
      </div>
    </div>
    <div v-if="errors.has(ad)" :id="'Err'+ad" class="form-control-feedback">{{ errors.first(ad) }}</div>
  </div>
</template>
<style>
  .has-danger .form-control
  {
    border-color: #f4516c !important
  }
  .input-group-prepend {
     margin-right:0;
  }
  .codenetGrup .input-group-prepend button {
    border-right: none !important;
  }

</style>
<script>
  export default {
    name: 'codenetinput',
    props: {
      value: { required: false, default: "" },
      tip: { type: String, required: false, default: "text" },
      veritipi: { type: String, required: false, default: "" },
      valid: { type: Boolean, required: false, default: false },
      place: { type: String, required: false, default: "" },
      label: { type: String, required: true, default: "" },
      validRules: { type: String, required: false, default: "" },
      icon: { type: String, required: true, default: "la la-pencil" },
      ad: { type: String, required: true, default: "" },
      vmask: { type: String, required: false, default: "" },
      zorunlu: { type: Boolean, required: true, default: true },
      pasif: { type: Boolean, required: false, default: false },
      index: { type: Number, required: false, default: 0 },
      labelgoster: { type: Boolean, required: false, default: true },
      icongoster: { type: Boolean, required: false, default: true },
    },
    inject: ['$validator'],
    data() {
      return { Dt: ""}
    },
    methods: {
      IltSil() {
        if (this.$parent.IltListesi) {
          this.$parent.IltListesi.splice(this.index, 1);
        }
      }
    },
    watch: {

    },
    computed: {

    },
    created()
    {
      
      
    },

    components: {},
  }
</script>
