<template>
    <!-- Sidebar Menu -->
    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
            <li class="nav-item">
                <nuxt-link to="/" class="nav-link">
                    <i class="nav-icon fas fa-list"></i>
                    <p>Appointment List</p>
                </nuxt-link>
            </li>
            <li class="nav-item">
                <nuxt-link to="/New" class="nav-link">
                    <i class="nav-icon fas fa-plus"></i>
                    <p>New Appointment</p>
                </nuxt-link>
            </li>

            <!--<li class="nav-item has-treeview">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p> <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="/Admin/Kullanicilar/YeniKullaniciOlustur" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Yeni Kullanıcı Ekle</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/Kullanicilar/" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Kullanıcı Listesi</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/Kullanicilar/RolAtama" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Rol Atama</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Admin/Kullanicilar/RolListesi" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Rol Listesi</p>
                </a>
            </li>
        </ul>
    </li>-->

        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</template>
<script>

</script>