<template>


    <div class="card">
        <div class="card-header" @click="SaatHesap()">
            <h3 class="card-title">Appointment List</h3>
            <div class="card-tools">
            </div>
        </div>
        <div class="card-body">
            <!-- User Interface controls -->
            <b-row>
                <b-col lg="6" class="my-1">
                    <b-form-group label="Filter"
                                  label-cols-sm="3"
                                  label-align-sm="right"
                                  label-size="sm"
                                  label-for="filterInput"
                                  class="mb-0">
                        <b-input-group size="sm">
                            <b-form-input v-model="filter"
                                          type="search"
                                          id="filterInput"
                                          placeholder="Type to Search"></b-form-input>
                            <b-input-group-append>
                                <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
                            </b-input-group-append>
                        </b-input-group>
                    </b-form-group>
                </b-col>

                <b-col lg="6" class="my-1">
                    <b-form-group label="Filter On"
                                  label-cols-sm="3"
                                  label-align-sm="right"
                                  label-size="sm"
                                  description="Leave all unchecked to filter on all data"
                                  class="mb-0">
                        <b-form-checkbox-group v-model="filterOn" class="mt-1">
                            <b-form-checkbox value="User">User</b-form-checkbox>
                            <b-form-checkbox value="Name">Name</b-form-checkbox>
                            <b-form-checkbox value="Date">Date</b-form-checkbox>
                            <b-form-checkbox value="Distance">Distance</b-form-checkbox>
                        </b-form-checkbox-group>
                    </b-form-group>
                </b-col>

            </b-row>

            <!-- Main table element -->
            <b-table show-empty
                     small
                     stacked="md"
                     :items="List"
                     :fields="fields"
                     :current-page="currentPage"
                     :per-page="perPage"
                     :filter="filter"
                     :filterIncludedFields="filterOn"
                     :sort-by.sync="sortBy"
                     :sort-desc.sync="sortDesc"
                     :sort-direction="sortDirection"
                     @filtered="onFiltered">
                <template v-slot:cell(Distance)="row">
                    {{ row.value.text }}
                </template>
                <template v-slot:cell(Id)="row">
                    <b-button size="sm" :to="'/Appointment/'+row.value">
                        Show Details
                    </b-button>
                </template>
            </b-table>
        </div>
        <b-modal id="list-loading" centered title="BootstrapVue" no-close-on-backdrop hide-header hide-footer class="modal-loading">
            <b-spinner type="grow" variant="primary" label="Loading"></b-spinner>
        </b-modal>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                
                fields: [
                    { key: 'User', label: 'User', sortable: false, },
                    { key: 'Date', label: 'Appointment Date', sortable: false, },
                    { key: 'Distance', label: 'Distance', sortable: false, },
                    { key: 'Address', label: 'Address', sortable: false, },
                    { key: 'NameLastName', label: 'Customer Name', sortable: false, },              
                    { key: 'Id', label: 'Actions' }
                ],
                
                filter: null,
                filterOn: [],
                totalRows: 1,
                currentPage: 1,
                perPage: 5,
                pageOptions: [5, 10, 15],
                sortBy: '',
                sortDesc: false,
                sortDirection: 'asc',
                filter: null,
                filterOn: [],
                List:[],
            }
        },
        computed: {
    
        
        },
        mounted() {
            this.$bvModal.show('list-loading');
            if (process.client) {
              

                setTimeout(() => {
                    let UserID = this.$store.getters.getKb.Id;
                    this.List = this.$store.getters.getAppointmentList.filter(x => x.UserId === UserID);
                    this.$bvModal.hide('list-loading');

                }, 1000);                
            }           

            this.totalRows = this.List.length;
        },
        methods: {
          
            onFiltered(filteredItems) {
                this.totalRows = filteredItems.length
                this.currentPage = 1
            }
        }
    }
</script>
