<template>
    <div>
        <!-- Header -->
        <div class="header bg-gradient-success py-7 py-lg-8 pt-lg-9">
            <b-container>
                <div class="header-body text-center mb-7">
                    <b-row class="justify-content-center">
                        <b-col xl="5" lg="6" md="8" class="px-5">
                            <nuxt-link to="/" tag="a" class="brand-link">
                                <img src="/img/logo.png" alt="Iceberg Estate"
                                     style="opacity: .8">
                            </nuxt-link>

                            <h1 class="text-white">Welcome!</h1>
                            <h2 class="text-white">Estate Appointment Portal</h2>

                        </b-col>
                    </b-row>
                </div>
            </b-container>
            <div class="separator separator-bottom separator-skew zindex-100">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                     xmlns="http://www.w3.org/2000/svg">
                    <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
        </div>
        <!-- Page content -->
        <b-container class="mt--8 pb-5">
            <b-row class="justify-content-center">
                <b-col lg="5" md="7">
                    <b-card no-body class="bg-secondary border-0 mt-4">
                        <b-card-body class="px-lg-5 py-lg-5">
                            <validation-observer ref="Loginform">
                                <b-form role="form" @submit.prevent="Login()">
                                    <ValidationProvider name="userName" rules="required" v-slot="{ errors }">
                                        <div style="position:relative">
                                            <label>User Name</label>
                                            <b-form-input id="inputUsername"
                                                          v-model="authData.userName"
                                                          required
                                                          class="mb-4"
                                                          placeholder="User Name"></b-form-input>
                                            <div class="error">{{errors[0]}}</div>
                                        </div>

                                    </ValidationProvider>

                                    <ValidationProvider name="password" rules="required" v-slot="{ errors }">
                                        <div style="position:relative">
                                            <label>Password</label>
                                            <b-form-input id="inputPassword"
                                                          v-model="authData.password"
                                                          type="password"
                                                          required
                                                          placeholder="Password"></b-form-input>
                                            <div class="error">{{errors[0]}}</div>
                                        </div>
                                    </ValidationProvider>



                                    <div class="text-center mt-4">
                                        <b-button type="submit" class="btn-block" variant="primary">Submit</b-button>
                                    </div>
                                </b-form>
                            </validation-observer>
                        </b-card-body>
                    </b-card>
                </b-col>
            </b-row>
        </b-container>

        <b-modal id="login-loading" centered title="BootstrapVue" no-close-on-backdrop hide-header hide-footer class="modalloading">
            <b-spinner type="grow" variant="primary" label="Loading"></b-spinner>
        </b-modal>
    </div>
</template>
<style>
    .bg-gradient-success {
        background: #000000 linear-gradient(180deg,#060606,#4f4f4f) repeat-x !important;
    }
</style>

<script>
    export default {
        layout: "loginDefault",

        middleware: ["session-control", "signin"],
        components: {},
        data() {
            return {
                BoslukKontrol: [v => !!v || 'Bu Alan Zorunludur!'],
                authData: { userName: "", password: "", grant_type: "password", scope: "", cihaz: "", beniHatirla: false, mobil: null },

                Yukleniyor: false,
                OtoAc: false,
                Cevap: null,
                isHuman: false,
            }
        },
        computed: {

        },
        methods: {
            Login() {
                this.$bvModal.show('login-loading');
                try {
                    var ths = this;

                    this.$refs.Loginform.validate().then(success => {
                        if (!success) { this.$bvModal.hide('login-loading'); return; }
                        this.$store.dispatch("auth/authUser", this.authData).then().catch(r => {
                            console.clear();
                        });
                    });
                } catch (e) {
                  //  this.$bvModal.hide('login-loading');
                }
            },


        },
        created() {

            if (process.client) {
                var ths = this;
                let k = this.$store.getters["auth/isAuthenticated"];
                if (k) {
                    this.$router.push("/");
                }
                else {
                    this.$store.commit("setKb", null);
                }
            }
        },
        mounted() {
            if (process.env.NODE_ENV === "development") {
                this.authData = { userName: "5069085827", password: "asmemo", grant_type: "password", scope: "", cihaz: "" };

            }
        },
    }
</script>
