<template>

    <!-- Default box -->
    <div class="card">
        <div class="card-header" @click="SaatHesap()">
            <h3 class="card-title">Register Appointment</h3>
            <div class="card-tools">
            </div>
        </div>
        <div class="card-body">
            <appointment-register />
        </div>
    </div>
</template>
<script>
    import AppointmentRegister from "~/components/Appointment/RegisterForm";
    import AppointmentMap from "~/components/Appointment/Map";

    export default {
        name: 'MainPage',
        components: { AppointmentRegister, AppointmentMap },
        data() {
            return {

            }
        },
        methods: {


        },
        computed: {},
        created() {
          //  this.$store.commit("setClearAppointment");
        },
        mounted() { }
    }
</script>

