<template>
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>

            </ul>



        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <nuxt-link to="/" tag="a" class="brand-link">
                <img src="/img/logo.png" alt="Iceberg Estate" class="brand-image"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">Estate</span>
            </nuxt-link>

            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="/img/team-1.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">

                        <a href="javascript:;" class="d-block" v-if="Kb"> {{Kb.Ad}} {{Kb.Soyad}}</a>
                        <a href="javascript:;" style="font-size:.8rem" @click="Logout">Sign Out</a>
                    </div>
                </div>

                <side-bar />
            </div>

        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">

                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <nuxt />
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>Copyright &copy; 2020 <a href="https://www.iceberg-digital.co.uk/">www.iceberg-digital.co.uk</a></strong>

            <div class="float-right d-none d-sm-inline-block">

            </div>
        </footer>
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>

    </div>


</template>
<script>
    import { FadeTransition } from 'vue2-transitions';
    import SideBar from "~/components/SideBar";
    export default {
        middleware: ["session-control", "auth"],

        components: { FadeTransition, SideBar },
        head: { htmlAttrs: { class: "anasayfa hold-transition sidebar-mini layout-fixed", }, },
        data: () => ({
            dialog: false,
        }),

        computed: {
            Kb() { return this.$store.getters.getKb; },
            Kategoriler() {

                var k = this.$store.getters.getUrunKategorileri.filter(x => x.UstKategoriId === null);
                var ktg = JSON.parse(JSON.stringify(k));
                ktg.forEach(function (x) {
                    x.Adi = x.Adi.toLowerCase();
                });
                return ktg;

            },
            minHeight() {
                //const height = this.$vuetify.breakpoint.mdAndUp ? '100vh' : '50vh'
                const height = "100vh";
                let h = this.$vuetify.breakpoint.mdAndUp ? 0 : 60;
                return `calc(${height} - ${this.$vuetify.application.top + this.$vuetify.application.footer + h}px)`
            },
            Mp() {
                return (this.Kb && this.Kb.Eposta === "mehmetpol@gmail.com");
            },
        },
        watch: {

        },
        methods: {
            Logout() {
                this.$store.dispatch("auth/logout");
                this.$router.push("/Login");
            },
        },
        created() {
        },
        mounted() {
            $.widget.bridge('uibutton', $.ui.button);

        }
    }
</script>


