<template>
    <div>
        <!-- Header -->
        <div class="header bg-gradient-success py-7 py-lg-8 pt-lg-9">
            <b-container>
                <div class="header-body text-center mb-7">
                    <b-row class="justify-content-center">
                        <b-col xl="5" lg="6" md="8" class="px-5">
                            <nuxt-link to="/" tag="a" class="brand-link">
                                <img src="/img/logo.png" alt="Iceberg Estate"
                                     style="opacity: .8">
                            </nuxt-link>
                            <h2 class="text-white">Estate Appointment Portal</h2>

                        </b-col>
                    </b-row>
                </div>
            </b-container>
            <div class="separator separator-bottom separator-skew zindex-100">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                     xmlns="http://www.w3.org/2000/svg">
                    <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
        </div>
        <!-- Page content -->
        <b-container class="mt--8 pb-5">
            <b-row class="justify-content-center">
                <b-col md="12">
                    <b-card no-body class="bg-secondary border-0 mt-4">
                        <b-card-body class="px-lg-5 py-lg-5">
                            <div dark>
                                <h1 v-if="error.statusCode === 404">
                                    {{ pageNotFound }}
                                </h1>
                                <h1 v-else>
                                    {{ otherError }}
                                </h1>
                                <NuxtLink to="/">
                                    Home page
                                </NuxtLink>
                            </div>
                        </b-card-body>
                    </b-card>
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>
export default {
  layout: 'loginDefault',
  props: {
    error: {
      type: Object,
      default: null
    }
  },
  head () {
    const title =
      this.error.statusCode === 404 ? this.pageNotFound : this.otherError
    return {
      title
    }
  },
  data () {
    return {
      pageNotFound: '404 Not Found',
      otherError: 'An error occurred'
    }
  }
}
</script>

<style scoped>
h1 {
  font-size: 20px;
}
</style>
