<template>
    <b-container fluid style="padding:0;margin:0">
        <b-row>
            <b-col lg="12" class="my-1">
                <nuxt />
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
    export default {
        name: 'loginDefault',
        data() {
            return {}
        },
    }
</script>