
/*Özel Scroll width */
::-webkit-scrollbar {
    width: 5px;
    height: 4px;
}

#NaviBar ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}


::-webkit-scrollbar-track {
    background: #f1f1f1;
}


::-webkit-scrollbar-thumb {
    background: #0a326d8f
}


    ::-webkit-scrollbar-thumb:hover {
        background: #0a326dfa;
    }
