.error {
    position: absolute;
    bottom: -15px;
    color: red;
    font-size: .8rem;
    margin: 0;
    padding: 0;
}

.ContentCard {
    overflow-y: auto;
    height: 300px;
    min-height: 600px;
    max-height: 600px;
}
.SepetInput input {
    text-align: center !important;
}
#login-loading .modal-content, #modal-loading .modal-content, #list-loading .modal-content {
    align-items: center !important;
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

.SepetInput label {
    left: 20% !important;
}

@media (max-width: 960px) {
    #MainLogo {
        width:120px !important;
        margin-right:10px !important
    }
    #MainImg {
        padding-bottom: 5px !important;
        padding-top: 5px !important;
    }
    #MainContainer {
        padding: 10px !important;
    }
    .ContentCard {
        height: 420px;
        min-height: 420px;
        max-height: 420px;
    }
    #MainContainer {
        
        padding: 20px !important;
        border-radius: 20px !important;
    }
}

#MainImg {
    padding-bottom: 50px;
    padding-top: 50px;
}
#MainContainer {
    background-color: rgba(255,255,255,.4);
    padding: 40px;
    border-radius: 100px;
}
#MainResponsive {
}

