<template>

    <!-- Default box -->
    <div class="card">
        <div class="card-header" @click="SaatHesap()">
            <h3 class="card-title">Appointment Details</h3>
            <div class="card-tools">
            </div>
        </div>
        <div class="card-body">
            <appointment-register :appointment="Appointment" />
        </div>
    </div>
</template>
<script>
    import AppointmentRegister from "~/components/Appointment/RegisterForm";
    import AppointmentMap from "~/components/Appointment/Map";

    export default {
        name: 'MainPage',
        components: { AppointmentRegister, AppointmentMap },
        data() {
            return {

            }
        },
        methods: {


        },
        computed: {
            Appointment() {
                let Id = +this.$route.params.id;
                let Dt = this.$store.getters.getAppointmentList.find(x => x.Id === +Id);
                let d = null;
                if (Dt) {
                    d = JSON.parse(JSON.stringify(Dt));
                }                
                return d;

            }
        },
        created() {
          //  this.$store.commit("setClearAppointment");
        },
        mounted() { }
    }
</script>

